.container-fluid {
    padding: 0px 32px;
}

.score-row {
    margin-bottom: 24px;

    .col-8 {
        padding:2px;
    }

    .col-4 {
        padding:2px;
    }
}


.card {
    background-color: #64B3AB;
    color: #EBF5F0;
    padding: 12px;
    margin-right: 2px;   
}

.title {
    margin: 5vw;
}

.text {
    font-size: 2vw;
}

img {
    margin-top: 32px;
    max-width: 200px;
    max-height: auto;
}



// Styling //

.row-header {
    background-color: #344C54;
    border-left: 12px solid #EBF5F0;
    border-right: 12px solid #EBF5F0;
}

.score-header {
    .row-number {
        transform: skew(-20deg);
    
        .card-block {
            transform: skew(20deg);
        }
    }
    
    .row-team {
        transform: skew(-20deg);
        
        .card-block {
            transform: skew(20deg);
        }
    
        .text {
            margin-left: 2vw;
        }
    }
    
    .row-score {
        transform: skew(-20deg);
    
        .card-block {
            transform: skew(20deg);
        }
    }
}

.score-body {
    .row-number {
        transform: skew(-20deg);

        .card-block {
            transform: skew(10deg);
        }
    }

    .row-team {
        transform: skew(-20deg);
        
        .card-block {
            transform: skew(10deg);
        }

        .text {
            margin-left: 2vw;
        }
    }

    .row-score {
        transform: skew(-20deg);

        .card-block {
            transform: skew(10deg);
        }
    }
}